<div class="container">
    <h1>Transaction Details</h1>
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    <div class="spinner-container d-flex justify-content-center" *ngIf="isLoading">
        <mat-spinner class="mat-spinner"></mat-spinner>
    </div>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <!--Sender Column  -->
    <ng-container matColumnDef="sender">
        <mat-header-cell *matHeaderCellDef>Sender</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.sender}}</mat-cell>
    </ng-container>

      <!--Receiver Column  -->
    <ng-container matColumnDef="receiver">
        <mat-header-cell *matHeaderCellDef>Receiver</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.receiver}}</mat-cell>
    </ng-container>

    <!--Total Column  -->
      <ng-container matColumnDef="totalAmount">
        <mat-header-cell *matHeaderCellDef>TotalAmount</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.totalAmount}}</mat-cell>
    </ng-container>

    <!--PaidAmount Column  -->
    <ng-container matColumnDef="paidAmount">
        <mat-header-cell *matHeaderCellDef>PaidAmount</mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink] ="['/child-transaction',row.id]">{{row.paidAmount}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
      
    </mat-table>
    <br><br>
       <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a [routerLink] = "['/transactions',previousPage]" class="page-link text-body" (click) = "previousPagination()">Previous</a></li>
          <li *ngFor="let page of pages" [value]="page" class="page-item"><a [routerLink] = "['/transactions',page]" class="page-link text-body" (click)="pageChanged(page)">{{page}}</a></li>
          <li class="page-item"><a [routerLink] = "['/transactions',nextPage]"  class="page-link text-body" (click) = "nextPagination()">Next</a></li>
        </ul>
      </nav>
</div>
